<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ConsultaServlet</servlet-name>
        <servlet-class>control.ConsultaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarPDFServlet</servlet-name>
        <servlet-class>control.GenerarPDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarMapaImagenServlet</servlet-name>
        <servlet-class>control.GuardarMapaImagenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProxyServlet</servlet-name>
        <servlet-class>control.ProxyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProxyServlet2</servlet-name>
        <servlet-class>control.ProxyServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>control.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>control.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>control.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarPasswordServlet</servlet-name>
        <servlet-class>control.RecuperarPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestorePasswordServlet</servlet-name>
        <servlet-class>control.RestorePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarCodigoServlet</servlet-name>
        <servlet-class>control.VerificarCodigoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestablecerPasswordServlet</servlet-name>
        <servlet-class>control.RestablecerPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultaServlet</servlet-name>
        <url-pattern>/ConsultaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarPDFServlet</servlet-name>
        <url-pattern>/GenerarPDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarMapaImagenServlet</servlet-name>
        <url-pattern>/GuardarMapaImagenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProxyServlet</servlet-name>
        <url-pattern>/proxy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProxyServlet2</servlet-name>
        <url-pattern>/proxy2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarPasswordServlet</servlet-name>
        <url-pattern>/RecuperarPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestorePasswordServlet</servlet-name>
        <url-pattern>/RestorePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarCodigoServlet</servlet-name>
        <url-pattern>/VerificarCodigoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestablecerPasswordServlet</servlet-name>
        <url-pattern>/RestablecerPasswordServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
