/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/07/2017, 08:39:17 AM
    Author     : RICARDO.MACIAS
*/

/*
*{
    margin:0;
    padding:0;
}
*/

body{
   
}

 div#notif{
     display:none;
     padding:1% 0;
     font-family:Century Gothic;
     background:#00aced;
     color:#fff;
     /*background:#4688d7;
     color:#fff;*/
     position:fixed;
     text-align:center;
     width:100%;
     z-index:2;
     top:51px;
 } 
				
	#result, #cerrarDiv{
            display:inline-block;
            vertical-align:middle;
            margin:0 auto;
            text-align:left;
            font-weight:bold;
            width:70%;
            font-size:20px;
        }
					
				
        #cerrarDiv{width:auto;}
        div#notif img{ cursor:pointer;}

         #cerrarDiv a{
         	text-decoration:none;
         	color:#fff;
         	border:1px solid #fff;
         	border-bottom:none;
         	border-right:none;
         	padding:5px 10px;
         	border-radius:8px;
         	background:#064d98;
         	font-size:17px;
         	font-weight:normal;
         }

          #cerrarDiv a:hover{
         	color:#fff;
         	border:1px solid #a0a0a0;
         	border-bottom:1px solid;
         	border-right:1px solid;
         	border-radius:10px;
         	background:#0056ff;
         	
         }


header{
       width: 100%;
    /* background: #09325D; */
    /* background: #e6e6e6; */
    background:#073f79;
    color: #fff;
    font-family: Arial;
    font-size: 15px;
    margin: 0 auto;
    padding: 3px 0;
    text-align: center;
    margin-bottom: 1%;
    position: fixed;
    z-index: 15;
     border-bottom:4px solid #6fc2bb;
}



header.administrador{
     background: #000;
}

.ugig{
    background:#069;
}

#logo,#nav{
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
}

#logo{
    width: auto;
    padding: 0 1%;
}

#logo img{
    width: 100px;
    height: 59px;
    vertical-align: middle;
}
#logo img.logo_curt{
   width: 50px;
    height: 20px;
}


#logo #log-inegi{
    width: 130px;
    height: 27px;
}

#nav{
    width: 80%;
     text-align: right;
     padding-right: 1%;
}

 nav a{
	text-decoration:none;
	color:#fff;
	font-size:9.6pt;}

ul{ list-style:none;}

ul.text-left,ul.text-right{
    display: inline-block;
    vertical-align: middle;
}

ul.text-left{
    width: 55%;
    text-align: left;
    }
ul.text-right{
     width: 30%;
    text-align: right;}


.negrita{
    font-weight: bold;
}
/*
.nom_u{
  
    border:1px solid;
    border-left:0;
    border-top:0;
    border-radius:50px;
    padding:0 5px;

}
*/


.menu_bar{display: none;}

/*---------------Submenu - Children--------*/

#nav li{
    display:inline-block;
    vertical-align: middle;
    position:relative; /*para que funcione correctamente el Submenu*/
    padding: 1% 2%;
    font-weight: normal;
    border-bottom:1px solid #6fc2bb;

 }
 
 #nav li span{
     vertical-align: middle;
 }

 #nav ul.text-right li{
 	background:none;
 	 border-bottom:none;
 }
 
 #nav li a,  #nav a li{ 
        color: #fff;
        text-decoration: none;
        font-weight: normal;
 }

 #nav li a.regresa{
 	color:#fff;
 	border: 1px solid;
 	padding:2px 4px;
 	border-radius:6px;
 	background:#064482;
 	font-size:12px;
 }
 
  #nav li a:hover{ 
      color: #cccccc;
 }

 #nav li:hover{
 	 background: #469a9f;
 }

 #nav ul.text-right li:hover{
 	background:none;

 }

  #nav li a.tachado{
    text-decoration:line-through
}

 
	 li{ list-style:none;}
         
	 #nav li .children{  
		display:none;   /*Ocultar los SubMenus*/
	    position:absolute;  /*Esto es clave para que se que no se vea feo el menu*/
	   /*background: rgba(255,255,255,0.9);*/
	     width:100%;
         z-index:1000;
         font-family: arial;
	     margin-top:2px;
         text-align: center;
	 
      /*  -webkit-box-shadow: 4px 4px 5px 0px rgba(128,125,128,1);
        -moz-box-shadow: 4px 4px 5px 0px rgba(128,125,128,1);
        box-shadow: 4px 4px 5px 0px rgba(128,125,128,1);*/
	 } 
	 
       
         
	 #nav li:hover .children{display:block;} /*Aparecer los Submenus con El Hover*/
	 
	 #nav li .children li{ 
	 display:block;  /*para que abarque el 100% al momento del HOVER*/
	 overflow:hidden;
     text-align: center;
	 float:right;
             background: rgba(255,255,255,0.9);
             border-radius:4px;
             -webkit-box-shadow: 4px 4px 5px 0px rgba(128,125,128,1);
            -moz-box-shadow: 4px 4px 5px 0px rgba(128,125,128,1);
             box-shadow: 4px 4px 5px 0px rgba(128,125,128,1);
             padding: 3px 2%;
             width:70%;
             left:50;
             margin-bottom:5px;
            /* margin-right:25px;*/
	 
	  }
 #nav li .children li:hover{  background:#186ab9;}
	
	 
	  
	  #nav li .children li a{
		  text-align: center;
		  color:#1d00a2;
		  display:block;
		  font-family: arial;
          font-weight: bold;
		  font-size:11px;
          text-decoration: none;
                 
            }
		   
		#nav li .children li a:hover{
                color:#ffffff;
                background:#186ab9;
		 }
		  
	 #nav li .children li a span{
	 	text-align:left;
	 }	  


	  #nav li .children li.cerrar_sesion{
	  	background:rgba(243, 35, 35, 0.91); }
	  #nav li .children li.cerrar_sesion:hover{
	  	background:#c13131; } 	

	  	
	 #nav li .children li.cerrar_sesion a{ color:#fff;}
	 /*#nav li .children li.cerrar_sesion a:hover{ color:#e8eaea;}*/

		  
		  .caret{ /*para mover la flechita del submenu*/
		position:relative;
		top:1px;
                /*margin-left:10px;*/
		margin-right:0px;
                  text-align: center;}
		
		
		a{cursor:pointer;}
			
			
            #nav li:hover .children{
		     display:block;} /*Para no desplegarlo Con HOVER (Lo desplegaremos con un click, con JQuery)*/
	
	/*---------------Termina Submenu - Children--------*/
        
        
    
        
 li.cerrar_ses a{
    font-size: 11px;
    border: 1px solid ;
    padding:1px 4px;
    border-radius: 3px;
    background: #d53740;
}
li.cerrar_ses a:hover{
    border-radius: 5px;
    background: #700;
}

#margen-oculto{
    padding-top: 80px;  /*lo que mide el header*/
}


ul.hijo{  
	display:none;   /*Ocultar los SubMenus*/
	 position:absolute;  /*Esto es clave para que se que no se vea feo el menu*/
         z-index:1000;
         width: 100%;
         font-family: arial;
	 margin-top:0px;
         text-align: right;
         font-size: 11px;
         left: -30%;
       } 
       
        li:hover .hijo{display:block;  } /*Aparecer los Submenus con El Hover*/
       
  #nav li ul.hijo li{
             width: 100%;
             display: block;
           /* background: #8FB0CF;*/
             border-radius: 5px;
             padding-top: 12px;
             
         }
         
         
         #nav li ul.hijo li a{
                text-decoration: none;
                font-size: 12px;
                color: #fff;
                border: 1px solid;
                padding: 2% 4%;
                background: #981919;
                border-radius: 4px;
         }
         #nav li ul.hijo li a:hover{
              background: #cd0a0a;
            }


 #nav li ul.hijo li.psw a{
                
                padding: 1.5% 4%;
                background: #ffffff;
                color:#000;
                border-radius: 4px;
         }
         #nav li ul.hijo li.psw a:hover{
               background: #e6e4e4;
                color:#000;
            }
            
            
            
            /*NOTIFICACIONE*/
            
            /*ESTILOS SUB MENU NOTIFICACIONES*/
   #nav li img{
            width: 40px;
            height:40px;
        }
        
       #nav  li.padre_notif{
          position:relative;
          cursor: pointer;
        }    
        
        #nav ul.hijo_notif{
            /*background: #00897F;*/
            display: none;
            position:absolute;  /*Esto es clave para que se que no se vea feo el menu*/
            z-index:1000;
             width: 300%;
             margin-top:0px;
            text-align: left;
            right:0;
        }
        
        
        #nav li ul.hijo_notif li{
             width: 90%;
             display: block;
             /*background: #136A9F; */
             background: #0089ff;
             color: #fff; 
             padding-left:4%;
             border-radius: 15px 0px 15px 15px;
              /*border: 1px solid #ccc;*/
              margin-top: 2px;
         }
         
         #nav li ul.hijo_notif li:hover{background:  #0566b9;}
         
          ul.hijo_notif  a{ 
              font-family: arial;
              font-size: 12px;
             /* color: #fff;
              border-radius: 15px;*/
            /*background: #fff;*/
          }
          
             ul.hijo_notif a{text-decoration: none;}
             
         #nav ul li.padre_notif:hover ul.hijo_notif{display:block; } /*Aparecer los Submenus con El Hover*/
        
  /* TERMINA ESTILOS SUB MENU NOTIFICACIONES*/   