@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?i5jnv7');
  src:  url('icomoon.eot?i5jnv7#iefix') format('embedded-opentype'),
    url('icomoon.ttf?i5jnv7') format('truetype'),
    url('icomoon.woff?i5jnv7') format('woff'),
    url('icomoon.svg?i5jnv7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gears:before {
  content: "\e90d";
}
.icon-cancel2:before {
  content: "\e907";
}
.icon-close3:before {
  content: "\e907";
}
.icon-remove:before {
  content: "\e907";
}
.icon-dismiss:before {
  content: "\e907";
}
.icon-error:before {
  content: "\e909";
}
.icon-cancel:before {
  content: "\e909";
}
.icon-close2:before {
  content: "\e909";
}
.icon-partially-checked:before {
  content: "\e909";
}
.icon-settings:before {
  content: "\e90a";
}
.icon-settings2:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}
.icon-chevron-down:before {
  content: "\e908";
}
.icon-menu5:before {
  content: "\e905";
}
.icon-th-menu:before {
  content: "\e906";
}
.icon-download-outline:before {
  content: "\e904";
}
.icon-menu2:before {
  content: "\e90b";
}
.icon-cross:before {
  content: "\e901";
}
.icon-chevron-small-down:before {
  content: "\e900";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-cog:before {
  content: "\e994";
}
.icon-menu3:before {
  content: "\e9bd";
}
.icon-menu22:before {
  content: "\e9be";
}
.icon-menu32:before {
  content: "\e9bf";
}
.icon-menu4:before {
  content: "\e9c0";
}
.icon-cross2:before {
  content: "\ea0f";
}
.icon-edit:before {
  content: "\e90f";
}