
/*ESTILOS DE ICONOS*/
@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?2q8qmy');
	src:url('icomoon.eot?#iefix2q8qmy') format('embedded-opentype'),
		url('icomoon.ttf?2q8qmy') format('truetype'),
		url('icomoon.woff?2q8qmy') format('woff'),
		url('icomoon.svg?2q8qmy#icomoon') format('svg');
	
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
	content: "\e604";
}
.icon-chevron-small-down:before {
	content: "\e600";
}
.icon-chevron-thin-down:before {
	content: "\e605";
}
.icon-cross:before {
	content: "\e601";
}
.icon-menu2:before {
	content: "\e603";
}
.icon-file-directory:before {
	content: "\f016";
}
.icon-menu:before {
	content: "\e602";
}
.icon-cross2:before {
	content: "\e117";
}
.icon-menu3:before {
	content: "\e120";
}

