<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Sesiones.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaEntregaFisica</servlet-name>
        <servlet-class>controlador.GrabaEntregaFisica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaFilasP5</servlet-name>
        <servlet-class>controlador.CargaFilasP5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaCobertura</servlet-name>
        <servlet-class>controlador.GrabaCobertura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaCobert</servlet-name>
        <servlet-class>controlador.EliminaCobert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaP5</servlet-name>
        <servlet-class>controlador.CargaP5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaEntregaFisica</servlet-name>
        <servlet-class>controlador.ActualizaEntregaFisica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaCobert</servlet-name>
        <servlet-class>controlador.ActualizaCobert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaCurtP1</servlet-name>
        <servlet-class>controlador.GrabaCurtP1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaP1</servlet-name>
        <servlet-class>controlador.CargaP1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaCurtP2</servlet-name>
        <servlet-class>controlador.GrabaCurtP2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaCapacP2</servlet-name>
        <servlet-class>controlador.CargaCapacP2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaCurtP2</servlet-name>
        <servlet-class>controlador.ActualizaCurtP2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaCurtP3</servlet-name>
        <servlet-class>controlador.GrabaCurtP3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaCurtP3</servlet-name>
        <servlet-class>controlador.ActualizaCurtP3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaP3</servlet-name>
        <servlet-class>controlador.CargaP3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaCurtP4</servlet-name>
        <servlet-class>controlador.GrabaCurtP4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaCurtP4</servlet-name>
        <servlet-class>controlador.ActualizaCurtP4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaP4</servlet-name>
        <servlet-class>controlador.CargaP4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaCurtP6</servlet-name>
        <servlet-class>controlador.GrabaCurtP6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaP6</servlet-name>
        <servlet-class>controlador.CargaP6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaCurtP6</servlet-name>
        <servlet-class>controlador.ActualizaCurtP6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaCurtP7</servlet-name>
        <servlet-class>controlador.GrabaCurtP7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaCurtP7</servlet-name>
        <servlet-class>controlador.ActualizaCurtP7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaP7</servlet-name>
        <servlet-class>controlador.CargaP7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaCurtP8</servlet-name>
        <servlet-class>controlador.GrabaCurtP8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaCurtP8</servlet-name>
        <servlet-class>controlador.ActualizaCurtP8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaP8</servlet-name>
        <servlet-class>controlador.CargaP8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaCurtP9</servlet-name>
        <servlet-class>controlador.GrabaCurtP9</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaCurtP9</servlet-name>
        <servlet-class>controlador.ActualizaCurtP9</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaP9</servlet-name>
        <servlet-class>controlador.CargaP9</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaCurtP12</servlet-name>
        <servlet-class>controlador.GrabaCurtP12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaCurtP12</servlet-name>
        <servlet-class>controlador.ActualizaCurtP12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaP12</servlet-name>
        <servlet-class>controlador.CargaP12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaCurtP13</servlet-name>
        <servlet-class>controlador.GrabaCurtP13</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaCurtP13</servlet-name>
        <servlet-class>controlador.ActualizaCurtP13</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaP13</servlet-name>
        <servlet-class>controlador.CargaP13</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaCurtP10</servlet-name>
        <servlet-class>controlador.GrabaCurtP10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaFilasP10</servlet-name>
        <servlet-class>controlador.CargaFilasP10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaCurtP10</servlet-name>
        <servlet-class>controlador.ActualizaCurtP10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaP10</servlet-name>
        <servlet-class>controlador.CargaP10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaCurtP11</servlet-name>
        <servlet-class>controlador.GrabaCurtP11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaFilasP11</servlet-name>
        <servlet-class>controlador.CargaFilasP11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaP11</servlet-name>
        <servlet-class>controlador.CargaP11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaCurtP11</servlet-name>
        <servlet-class>controlador.ActualizaCurtP11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaCurtP1</servlet-name>
        <servlet-class>controlador.ActualizaCurtP1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaCurtP1Prueba</servlet-name>
        <servlet-class>controlador.ActualizaCurtP1Prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PruebaActualizaC1</servlet-name>
        <servlet-class>controlador.PruebaActualizaC1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaMotivosGenC</servlet-name>
        <servlet-class>controlador.GrabaMotivosGenC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaMotivosGenCurt</servlet-name>
        <servlet-class>controlador.ActualizaMotivosGenCurt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaMotivoGenCurt</servlet-name>
        <servlet-class>controlador.EliminaMotivoGenCurt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaCurtP1Archivos</servlet-name>
        <servlet-class>controlador.GrabaCurtP1Archivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaP13CURTp</servlet-name>
        <servlet-class>controlador.ConsultaP13CURTp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaCurt_P1</servlet-name>
        <servlet-class>controlador.GrabaCurt_P1_RESPALDO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirArchivo</servlet-name>
        <servlet-class>controlador.SubirArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaActualizaP6</servlet-name>
        <servlet-class>controlador.CargaActualizaP6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaDevoluciones</servlet-name>
        <servlet-class>controlador.CargaDevoluciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaActualizaP7</servlet-name>
        <servlet-class>controlador.CargaActualizaP7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportarReporteUE</servlet-name>
        <servlet-class>controlador.ExportarReporteUE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteArchivo</servlet-name>
        <servlet-class>controlador.DeleteArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaFilasP8</servlet-name>
        <servlet-class>controlador.CargaFilasP8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaFilasP12</servlet-name>
        <servlet-class>controlador.CargaFilasP12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaConCurt</servlet-name>
        <servlet-class>controlador.ConsultaConCurt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaSinCurt</servlet-name>
        <servlet-class>controlador.ConsultaSinCurt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConCompletaCurtProd</servlet-name>
        <servlet-class>controlador.ConCompletaCurtProd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambia_pass</servlet-name>
        <servlet-class>Sesiones.cambia_pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Carga_liberaCap</servlet-name>
        <servlet-class>controlador.Carga_liberaCap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaSolicitudSop</servlet-name>
        <servlet-class>controlador.GrabaSolicitudSop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sesion_admin</servlet-name>
        <servlet-class>Sesiones.Sesion_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabaLiberaCap</servlet-name>
        <servlet-class>controlador.GrabaLiberaCap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectNotifSolic</servlet-name>
        <servlet-class>controlador.SelectNotifSolic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsSoliSop</servlet-name>
        <servlet-class>controlador.ConsSoliSop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambia_pass_adm</servlet-name>
        <servlet-class>Sesiones.cambia_pass_adm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Graba_admin</servlet-name>
        <servlet-class>controlador.Graba_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecupAdmin</servlet-name>
        <servlet-class>controlador.RecupAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaFilasP2</servlet-name>
        <servlet-class>controlador.CargaFilasP2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaP2</servlet-name>
        <servlet-class>controlador.CargaP2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesionUser</servlet-name>
        <servlet-class>Sesiones.InicioSesionUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaEntregaFisica</servlet-name>
        <url-pattern>/GrabaEntregaFisica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaFilasP5</servlet-name>
        <url-pattern>/CargaFilasP5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaCobertura</servlet-name>
        <url-pattern>/GrabaCobertura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaCobert</servlet-name>
        <url-pattern>/EliminaCobert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaP5</servlet-name>
        <url-pattern>/CargaP5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaEntregaFisica</servlet-name>
        <url-pattern>/ActualizaEntregaFisica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaCobert</servlet-name>
        <url-pattern>/ActualizaCobert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaCurtP1</servlet-name>
        <url-pattern>/GrabaCurtP1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaP1</servlet-name>
        <url-pattern>/CargaP1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaCurtP2</servlet-name>
        <url-pattern>/GrabaCurtP2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaCapacP2</servlet-name>
        <url-pattern>/CargaCapacP2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaCurtP2</servlet-name>
        <url-pattern>/ActualizaCurtP2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaCurtP3</servlet-name>
        <url-pattern>/GrabaCurtP3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaCurtP3</servlet-name>
        <url-pattern>/ActualizaCurtP3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaP3</servlet-name>
        <url-pattern>/CargaP3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaCurtP4</servlet-name>
        <url-pattern>/GrabaCurtP4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaCurtP4</servlet-name>
        <url-pattern>/ActualizaCurtP4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaP4</servlet-name>
        <url-pattern>/CargaP4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaCurtP6</servlet-name>
        <url-pattern>/GrabaCurtP6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaP6</servlet-name>
        <url-pattern>/CargaP6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaCurtP6</servlet-name>
        <url-pattern>/ActualizaCurtP6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaCurtP7</servlet-name>
        <url-pattern>/GrabaCurtP7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaCurtP7</servlet-name>
        <url-pattern>/ActualizaCurtP7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaP7</servlet-name>
        <url-pattern>/CargaP7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaCurtP8</servlet-name>
        <url-pattern>/GrabaCurtP8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaCurtP8</servlet-name>
        <url-pattern>/ActualizaCurtP8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaP8</servlet-name>
        <url-pattern>/CargaP8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaCurtP9</servlet-name>
        <url-pattern>/GrabaCurtP9</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaCurtP9</servlet-name>
        <url-pattern>/ActualizaCurtP9</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaP9</servlet-name>
        <url-pattern>/CargaP9</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaCurtP12</servlet-name>
        <url-pattern>/GrabaCurtP12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaCurtP12</servlet-name>
        <url-pattern>/ActualizaCurtP12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaP12</servlet-name>
        <url-pattern>/CargaP12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaCurtP13</servlet-name>
        <url-pattern>/GrabaCurtP13</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaCurtP13</servlet-name>
        <url-pattern>/ActualizaCurtP13</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaP13</servlet-name>
        <url-pattern>/CargaP13</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaCurtP10</servlet-name>
        <url-pattern>/GrabaCurtP10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaFilasP10</servlet-name>
        <url-pattern>/CargaFilasP10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaCurtP10</servlet-name>
        <url-pattern>/ActualizaCurtP10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaP10</servlet-name>
        <url-pattern>/CargaP10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaCurtP11</servlet-name>
        <url-pattern>/GrabaCurtP11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaFilasP11</servlet-name>
        <url-pattern>/CargaFilasP11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaP11</servlet-name>
        <url-pattern>/CargaP11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaCurtP11</servlet-name>
        <url-pattern>/ActualizaCurtP11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaCurtP1</servlet-name>
        <url-pattern>/ActualizaCurtP1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaCurtP1Prueba</servlet-name>
        <url-pattern>/ActualizaCurtP1Prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PruebaActualizaC1</servlet-name>
        <url-pattern>/PruebaActualizaC1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaMotivosGenC</servlet-name>
        <url-pattern>/GrabaMotivosGenC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaMotivosGenCurt</servlet-name>
        <url-pattern>/ActualizaMotivosGenCurt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaMotivoGenCurt</servlet-name>
        <url-pattern>/EliminaMotivoGenCurt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaCurtP1Archivos</servlet-name>
        <url-pattern>/GrabaCurtP1Archivos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaP13CURTp</servlet-name>
        <url-pattern>/ConsultaP13CURTp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaCurt_P1</servlet-name>
        <url-pattern>/GrabaCurt_P1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirArchivo</servlet-name>
        <url-pattern>/SubirArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaActualizaP6</servlet-name>
        <url-pattern>/CargaActualizaP6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaDevoluciones</servlet-name>
        <url-pattern>/CargaDevoluciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaActualizaP7</servlet-name>
        <url-pattern>/CargaActualizaP7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportarReporteUE</servlet-name>
        <url-pattern>/ExportarReporteUE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteArchivo</servlet-name>
        <url-pattern>/DeleteArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaFilasP8</servlet-name>
        <url-pattern>/CargaFilasP8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaFilasP12</servlet-name>
        <url-pattern>/CargaFilasP12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaConCurt</servlet-name>
        <url-pattern>/ConsultaConCurt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaSinCurt</servlet-name>
        <url-pattern>/ConsultaSinCurt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConCompletaCurtProd</servlet-name>
        <url-pattern>/ConCompletaCurtProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambia_pass</servlet-name>
        <url-pattern>/cambia_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Carga_liberaCap</servlet-name>
        <url-pattern>/Carga_liberaCap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaSolicitudSop</servlet-name>
        <url-pattern>/GrabaSolicitudSop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sesion_admin</servlet-name>
        <url-pattern>/Sesion_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabaLiberaCap</servlet-name>
        <url-pattern>/GrabaLiberaCap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectNotifSolic</servlet-name>
        <url-pattern>/SelectNotifSolic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsSoliSop</servlet-name>
        <url-pattern>/ConsSoliSop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambia_pass_adm</servlet-name>
        <url-pattern>/cambia_pass_adm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Graba_admin</servlet-name>
        <url-pattern>/Graba_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecupAdmin</servlet-name>
        <url-pattern>/RecupAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaFilasP2</servlet-name>
        <url-pattern>/CargaFilasP2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaP2</servlet-name>
        <url-pattern>/CargaP2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesionUser</servlet-name>
        <url-pattern>/InicioSesionUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
