@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?f5y531');
  src:  url('fonts/icomoon.eot?f5y531#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f5y531') format('truetype'),
    url('fonts/icomoon.woff?f5y531') format('woff'),
    url('fonts/icomoon.svg?f5y531#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trashcan:before {
  content: "\e90d";
}
.icon-edit:before {
  content: "\e908";
}
.icon-download:before {
  content: "\e909";
}
.icon-store1:before {
  content: "\e909";
}
.icon-save2:before {
  content: "\e909";
}
.icon-folder:before {
  content: "\e90a";
}
.icon-directory:before {
  content: "\e90a";
}
.icon-open:before {
  content: "\e90a";
}
.icon-category:before {
  content: "\e90a";
}
.icon-add:before {
  content: "\e90f";
}
.icon-arrow_drop_down:before {
  content: "\e901";
}
.icon-keyboard_arrow_down:before {
  content: "\e902";
}
.icon-chevron-down:before {
  content: "\e903";
}
.icon-chevron-down1:before {
  content: "\e904";
}
.icon-editar:before {
  content: "\e905";
}
.icon-plus:before {
  content: "\e90e";
}
.icon-cheveron-outline-down:before {
  content: "\e906";
}
.icon-cheveron-down:before {
  content: "\e907";
}
.icon-floppy:before {
  content: "\e900";
}
.icon-disk:before {
  content: "\e900";
}
.icon-save:before {
  content: "\e900";
}
.icon-store:before {
  content: "\e900";
}
.icon-play:before {
  content: "\e912";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-contactos:before {
  content: "\e944";
}
.icon-mail:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-download1:before {
  content: "\e960";
}
.icon-mensaje:before {
  content: "\e970";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-key:before {
  content: "\e98d";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-engrane:before {
  content: "\e994";
}
.icon-engranes:before {
  content: "\e995";
}
.icon-trashcan2:before {
  content: "\e9ac";
}
.icon-menu3:before {
  content: "\e9bd";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-plus1:before {
  content: "\ea0a";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross2:before {
  content: "\ea0f";
}
.icon-actualizar:before {
  content: "\ea2e";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-scissors:before {
  content: "\ea5a";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-video-camera:before {
  content: "\e914";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-plus:before {
  content: "\e9cf";
}
.icon-eye-minus:before {
  content: "\e9d0";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-folder-open-o:before {
  content: "\e90b";
}
.icon-bars:before {
  content: "\e90c";
}
.icon-navicon:before {
  content: "\e90c";
}
.icon-reorder:before {
  content: "\e90c";
}
